/.vs/*
/JobApplicationTracker.Server/obj/*
/JobApplicationTracker.Server/bin/
/jobapplicationtracker.client/obj/
*-lock.json
**.bak
/JobApplicationTracker.Server/jobAppTracker.db*
/JobApplicationTracker.Server/Migrations/
